<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhotocopyRevaluationAppMVC</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Site-Specific CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhotocopyRevaluationAppMVC.styles.css" asp-append-version="true" />

    <style>
        html, body {
            height: 100%; /* Ensure the body and html take full height */
            /*background-color: lightskyblue;*/
        }
        .container {
            /* margin: auto auto;
               text-align: center; */
            display: flex;
            flex-direction: column;
            justify-content: center; /* Vertically center */
            align-items: center;  
            height: 100vh; /* Full viewport height */
        }
        .img{
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    @* <header>
    </header>
    *@
    <section class="container">
        @*     <div class="section-head-container">
        <div class="img">
        <img src="~/images/ycmou_logo.png" height="70px" />
        </div>
        </div> *@
        <div class="img">
            <img src="~/images/ycmou_logo.png" height="110px" />
        </div>
        <main role="main" class="pb-3 content">
            @RenderBody()
        </main>
        @* @RenderSection("script") *@
    </section>

    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - PhotocopyRevaluationAppMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@

    <!-- jQuery and Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* Enabling Client-side Validation: *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
