@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LoginLayout";
}
<div class="alert alert-warning session-timeout-notify" role="alert">
    <!--You have been signed out. Redirecting to login page...-->
    Your session have been timed out. pleas re-login to continue your task.
    <a href="/Accounts/Login" class="btn btn-primary">Login</a>
</div>;
