{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "MySettings": {
    "JWTSecretKey": "Vishal@123"
  },
  "Secrets": {
    "Issuer": "",
    "Audiance": "",
    "JWTSecretKey": "Vishal@123Vishal@123"
  }
}
