@model PhotocopyRevaluationAppMVC.Models.RegisteredUserDTO

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LoginLayout";
}

<h2 style="color: white;">Change Password</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form class="otp-form form" asp-controller="Accounts" asp-action="ChangePassword" method="post">

    @* : for Cross - Site Request Forgery(CSRF) protection.This helps to secure your form against CSRF attacks*@
    @Html.AntiForgeryToken()

    <div class="form-group otp-form-group">
        <label asp-for="NewPassword" class="control-label">Enter New Password</label><span class="text-danger">*</span>
        <input asp-for="NewPassword" class="form-control" placeholder="Enter New Password" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group otp-form-group">
        <label asp-for="ConfirmPassword" class="control-label">ReEnter password</label><span class="text-danger">*</span>
        <input asp-for="ConfirmPassword" class="form-control" placeholder=" Re-enter password" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group button">
        <button id="changePassword-button" type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form>