@model PhotocopyRevaluationAppMVC.Models.RegisteredUserDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LoginLayout";
}

<h2 style="color: white;">OTP Verification</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form class="otp-form form" asp-controller="Accounts" asp-action="OTPVerificationsForForgotPassword" method="post">

    @* : for Cross - Site Request Forgery(CSRF) protection.This helps to secure your form against CSRF attacks*@
    @Html.AntiForgeryToken()

    <div class="form-group otp-form-group">
        <label asp-for="OTP" class="control-label">Enter OTP here</label>
        <input asp-for="OTP" class="form-control otp-control" placeholder="Verify OTP..." />
        <span asp-validation-for="OTP" class="text-danger"></span>
    </div>
    <!-- OTP Timer Display -->
    <div>
        <p>Your OTP will expire in <span id="timer"></span> seconds.</p>
        <button id="resendButton" style="display:none;" onclick="resendOtp()">Resend OTP</button>
    </div>
    <div class="form-group button">
        <button id="otpVerify-button" type="submit" class="btn btn-primary">Verify OTP</button>
    </div>
</form>
