@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* adding the following script tag in <head> *@
<script src="https://apis.google.com/js/platform.js" async defer></script>
@* Add the following script tag to include the Facebook SDK in <head> section: *@
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

@* Add the following meta tag within the <head> section to specify your Google client ID:*@
<meta name="google-signin-client_id" content="YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com">

@*You can create a button to initiate the Google sign-in process. The button can be styled as per your requirements. *@
<div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="signin_with" data-shape="rectangular" data-logo_alignment="left"></div>

<button onclick="facebookLogin()">Login with Facebook</button>

@section Scripts{
        @* Google Scripts *@
        @* Here is a basic implementation of the sign-in and sign-out functionality. You can include this script at the bottom of your <body> section: *@
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());

            // You can send the ID token to your server for further validation and processing
            var id_token = googleUser.getAuthResponse().id_token;
            fetch('/api/your-auth-endpoint', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ token: id_token })
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>

    @* facebook scripts *@
    @* You need to initialize the Facebook SDK with your app credentials: *@
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: 'YOUR_FACEBOOK_APP_ID',
                cookie: true,
                xfbml: true,
                version: 'v11.0' // Use the latest version
            });
        };
    </script>

}