@model PhotocopyRevaluationApp.Models.RegisteredUserDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LoginLayout";
}

<h2 style="color: white;">Change Password</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form class="otp-form form" asp-controller="Accounts" asp-action="ForgotPassword" method="post">
    @* : for Cross - Site Request Forgery(CSRF) protection.This helps to secure your form against CSRF attacks*@
    @Html.AntiForgeryToken()

   @*  <div class="form-group otp-form-group">
        <label asp-for="UserName" class="control-label">Enter Your ApplicationUser Name:</label><p>*required</p>
        <input asp-for="UserName" class="form-control otp-control" placeholder="enter your user name here" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
     *@
    <div class="form-group otp-form-group">
        <label asp-for="PhoneNumber" class="control-label">Enter Registered Mobile Number</label><span class="text-danger">*</span>
        <input asp-for="PhoneNumber" class="form-control otp-control" placeholder="enter registered mobile number" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group otp-form-group">
        <label asp-for="Email" class="control-label">Enter Registered Email</label><span class="text-danger">*</span>
        <input asp-for="Email" class="form-control otp-control" placeholder="enter registered email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <span class="form-group submit-button">
        <a asp-action="Login" class="btn btn-primary">Go Back</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </span>
</form>
